<div class="saved_to_photos">

  <%= render :partial => '/globals/notices' %>

  <ul>
    <li><%= link_to 'Approve Piccon strips uploaded to your album', @link %></li>
    <li><%= link_to 'Back to game', game_path(@game) %></li>
  </ul>

</div>
