
  <h2>What is Piccon?</h2>

  <p>Piccon is a fun and simple multiplayer drawing game. It's a bit like
  Chinese Whispers, but with pictures.</p>

  <h2>How to Play</h2>

  <p><%= link_to 'Start a game', new_game_path %> by
  selecting a few friends to play with and how long you want the game to
  be.</p>

  <p>Next you begin the game by drawing a picture of whatever you like. Let
  your imagination go wild! When you're happy with your picture, press the
  "Send" button.</p>

  <p>One of your selected friends will then receive the picture you drew. They
  describe what they see and again press the "Send" button.</p>

  <p>The next friend you selected then receives that description of your
  drawing. Using the mouse they draw the description as best they can. (This
  may not be anything like your original drawing!) Then they press "Send" and
  their drawing is sent on.</p>

  <p>Players continue to take turns drawing and describing until they reach the
  number of turns you specified at the beginning. Everyone is sent a
  notification to come and look at the finished game and laugh at the silliness
  of it all. Usually the last picture bears no resemblance to the first
  picture.</p>

  <h2>More Questions?</h2>

  <p>Ask in the discussion board on the <%= link_to 'Piccon Facebook Page', 'http://www.facebook.com/apps/application.php?id=8334582053' %>.</p>
