%h2 New Post

%canvas#drawing
.controls
  %button.brush.black.pixel Black Pixel
  %button.brush.white.pixel White Pixel
  %button.brush.black.circle.small Small Black Circle
  %button.brush.white.circle.small Small White Circle
  %button.brush.black.circle.large Large Black Circle
  %button.brush.white.circle.large Large White Circle
  %button.brush.black.square.large Large Black Square
  %button.brush.white.square.large Large White Square
  %button.black.clear Clear to Black
  %button.white.clear Clear to White

= form_for([@paper, @post], :html => {:id => :draw_form}) do |f|
  = f.hidden_field :pixels
  = f.submit 'Send'

:javascript
  $(document).ready(function() {
    var form = $('#draw_form');
    form.submit(function() {
      // fetch data from canvas
      try {
        var canvas = document.getElementById('drawing');
        var ctx = canvas.getContext('2d');
        var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
        var data = imageData.data;
        var result = '';
        for (var y = 0; y < imageData.height; ++y) {
          for (var x = 0; x < imageData.width; ++x) {
            var pos = (y*imageData.width + x)*4 + 3;
            var val = data[pos];
            //if (val !== 0) {
              //console.log(pos, val);
            //}
            result += (val === 0 ? '0' : '1');
          }
        }
      } catch(e) {
        console.log(e);
      };
      console.log(result);
      return false;
    });
  });
